.faq-item {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden; 
  }
  
  .faq-content {
    max-height: 0; 
    transition: max-height 0.3s ease-in-out;
  }
  
  .faq-content.open {
    max-height: 1000px; 
  }
  
  .spacing{
    line-height: 44px;
  }